@charset "UTF-8";
:root {
  --color-blacklogo: #000000;
  --color-blu: #2196f3;
  --color-black: #212121;
  --color-grey: #757575;
  --color-white: #ffffff;
  --fonts-primary: "Roboto";
  --background-color: #2f303a;
  --font-family-primary: "Roboto", sans-serif;
  --color-team: #f5f4fa;
  --fill-grey: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.body {
  color: var(--color-grey);
  font-family: var(--font-family-primary);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-bottom: 1px solid #eee;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/***************      LOGO */
.logo__header {
  color: var(--color-blacklogo);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__span {
  color: var(--color-blu);
}

@media screen and (max-width: 767px) {
  .menu__item {
    margin-bottom: 32px;
  }
  .menu__link {
    color: var(--color-black);
    text-decoration: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item {
    margin-left: 87px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .menu__item {
    margin-left: 94px;
  }
}
@media screen and (min-width: 768px) {
  .menu__item:not(:first-child) {
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  .menu__link {
    color: var(--color-black);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--color-blu);
  }
}

.mob-backdrop {
  width: 100%;
  display: none;
}
@media screen and (min-width: 767px) {
  .mob-backdrop {
    display: block;
  }
}
.mob-backdrop.is-open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: var(--color-white);
}

@media screen and (max-width: 767px) {
  .mob-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.mob-menu__social {
  display: flex;
}
@media screen and (min-width: 768px) {
  .mob-menu__social {
    display: none;
  }
}
.mob-menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu__border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.button-cross {
  display: none;
}
@media screen and (max-width: 767px) {
  .button-cross {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 10px;
  }
}

.button-burger {
  display: none;
}
@media screen and (max-width: 767px) {
  .button-burger {
    display: block;
    border: none;
    background-color: transparent;
  }
}

.contact {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 767px) {
  .contact__mail {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 65px;
  }
  .contact__tel {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
    margin-bottom: 32px;
  }
  .contact__svg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact__item {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-grey);
    padding: 5px 0px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--color-blu);
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  .contact__link {
    display: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact :not(:last-child) {
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact__svg {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .page-active {
    color: var(--color-blu);
  }
  .page-active::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #2196f3;
    border-radius: 2px;
  }
  .page-relative {
    position: relative;
  }
}
/*         *********** *              HERO */
.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 118px;
  background-size: cover;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-hero.jpg");
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
  }
}
.hero__title {
  color: var(--color-white);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  background: var(--color-blu);
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  line-height: 1.8;
  margin-top: 30px;
}

/*                              benefits */
@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.benefits__items {
  max-height: 226px;
}
@media only screen and (max-width: 768px) {
  .benefits__items:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .benefits__items {
    height: 224px;
  }
  .benefits__items:nth-child(2n+1) {
    margin-right: 30px;
  }
  .benefits__items:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__items {
    height: 270px;
  }
  .benefits__items:not(:last-child) {
    margin-right: 30px;
  }
}
.benefits__title {
  color: var(--color-black);
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .benefits__title {
    text-align: center;
  }
}
.benefits__text {
  color: var(--color-757575);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .benefits__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__text {
    width: 270px;
  }
}
.benefits-icon1::before {
  background-image: url(../images/svg/antenna.svg);
  content: "";
  display: block;
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .benefits-icon1::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-icon1::before {
    width: 270px;
  }
}
.benefits-icon2::before {
  background-image: url(../images/svg/clock.svg);
  content: "";
  display: block;
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .benefits-icon2::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-icon2::before {
    width: 270px;
  }
}
.benefits-icon3::before {
  background-image: url(../images/svg/diagram.svg);
  content: "";
  display: block;
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .benefits-icon3::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-icon3::before {
    width: 270px;
  }
}
.benefits-icon4::before {
  background-image: url(../images/svg/astronaut\ .svg);
  content: "";
  display: block;
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .benefits-icon4::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-icon4::before {
    width: 270px;
  }
}

/* ********************** OUR WORK */
.work {
  display: flex;
  align-items: center;
}
.work__item {
  position: relative;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__bck {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}
.work__text {
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.padding-resset {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .padding-resset {
    display: none;
  }
}

.title-secondary {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-black);
}
@media screen and (min-width: 1200px) {
  .title-secondary {
    font-size: 36px;
  }
}

/*******     OUR  TEAM */
.background {
  background: var(--color-team);
}

.tablet-show {
  display: none;
}

.team {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    align-items: center;
  }
}
.team__item {
  max-width: 450px;
  margin-right: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    flex-wrap: wrap;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .team__item {
    flex-wrap: wrap;
    max-width: 354px;
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-black);
  margin-bottom: 10px;
}
.team__work {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
.team__visit {
  text-align: center;
  margin-top: 30px;
}

/* ***************  Social-Box */
.social-box {
  display: flex;
  justify-content: center;
  /* Footer*/
}
.social-box__item--bgblu:hover, .social-box__item--bgblu:focus {
  background-color: var(--color-blu);
}
.social-box__item--bgblu {
  background: var(--color-white);
}
.social-box__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 16px;
  margin-bottom: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-box__item:not(:last-child) {
  margin-right: 10px;
}
.social-box__link--grey:hover, .social-box__link--grey:focus {
  fill: var(--color-white);
}
.social-box__link--grey:focus {
  background-color: var(--color-blu);
  border-radius: 50%;
}
.social-box__link--grey {
  fill: var(--fill-grey);
}
.social-box__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-property: fill background-color border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-box__item--bgdark:hover, .social-box__item--bgdark:focus {
  background-color: var(--color-blu);
}
.social-box__item--bgdark {
  background: rgba(255, 255, 255, 0.1);
}
.social-box__link--white:focus {
  background-color: #188ce8;
}
.social-box__link--white {
  fill: var(--color-white);
}

.social {
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .social {
    padding-right: 75px;
  }
}
@media screen and (max-width: 1200px) {
  .social {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-left: 70px;
  }
}

/* *******         MODAL */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 15px;
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
  }
}

.modal-title {
  display: block;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  fill: #000000;
  padding: 0px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.button-close:focus, .button-close:hover {
  fill: #2196f3;
  outline: 0;
}

.role {
  position: relative;
  /* Modal-svg */
}
.role:not(:last-child) {
  margin-bottom: 10px;
}
.role__input {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.role:hover .role__input {
  border-color: #2196f3;
}
.role__input:focus {
  outline: 0;
  border-color: #2196f3;
}
.role__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
}
.role__svg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 12px;
  margin-left: 12px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.role__input:focus + .role__svg {
  fill: #188ce8;
}
.role:hover .role__svg {
  fill: #2196f3;
}

.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Chekbox */
.modal-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-block__label {
  margin-left: 10px;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-block__label {
    font-size: 14px;
  }
}
.modal-block__button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border-color: #2196f3;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  margin-top: 30px;
  margin: 0px auto;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-black);
  border-radius: 2px;
  width: 16px;
  height: 16px;
}
.checkbox__icon {
  appearance: none;
}
.checkbox__svg {
  flex-shrink: 0;
  left: 0;
  top: 0;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon:checked + .checkbox__svg {
  opacity: 1;
}

/* *********** CLIENTS */
.client {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.client__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  margin-bottom: 15px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item:focus, .client__item:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
@media screen and (min-width: 480px) {
  .client__item {
    width: 210px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  height: 100%;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:focus, .client__link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

/* ***************     FOOTER */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .footer__box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__box {
    padding-left: 75px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__box {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .box-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .foother-flex {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .foother-flex {
    display: flex;
    align-items: baseline;
  }
}

.logo-footer {
  color: var(--color-white);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  list-style: none;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .logo-footer {
    margin-bottom: 20px;
  }
}

.address__contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address__item {
  margin-top: 9px;
}
.address__map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-white);
  text-decoration: none;
}

/* **********   Social-footer */
.strong {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

/* *** Subscribe */
.subscribe {
  margin-left: auto;
}
@media screen and (max-width: 1200px) {
  .subscribe {
    margin-top: 60px;
    text-align: center;
  }
}
.subscribe__box {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__box {
    display: flex;
    margin-top: 20px;
  }
}
.subscribe__button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-left: 12px;
  background-color: #2196f3;
  border-color: #2196f3;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: left;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 0px 28px;
}
@media screen and (max-width: 1200px) {
  .subscribe__button {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
.subscribe__input {
  background: #2f303a;
  height: 50px;
  left: 20px;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding: 15px 16px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
@media screen and (max-width: 1200px) {
  .subscribe__input {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
.subscribe__svg {
  margin-left: 10px;
  margin-top: 13px;
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

/* ...................*ПОРТФОЛИО................................... */
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.filter__item {
  margin: 4px;
}
.filter__button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-family: "Roboto";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--color-white);
  background-color: var(--color-blu);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ********************       Card*/
.card {
  display: flex;
  flex-wrap: wrap;
  /* overlay */
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    margin: -15px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .card__item {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    margin-right: 30px;
    margin-bottom: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card__item:hover, .card__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__item:nth-child(3n) {
    margin-right: 0px;
  }
  .card__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.card__link {
  display: block;
  text-decoration: none;
}
.card__overlay {
  overflow: hidden;
  position: relative;
}
.card__overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover .card__overlay::before {
  transform: translateY(0);
}
.card__slide-text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  padding: 63px 24px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover .card__slide-text {
  transform: translateY(0);
}
.card__title {
  color: var(--color-black);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card__text {
  color: var(--color-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}
.card__box {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}/*# sourceMappingURL=main.css.map */