/* ***************     FOOTER */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  &__box {
    display: inline-block;
  }
}

.foother-flex {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  color: var(--color-white);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;

  list-style: none;
  text-decoration: none;
}
.address {
  &__contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  &__item {
    margin-top: 9px;
  }
  &__map {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: var(--color-white);
    text-decoration: none;
  }
}
/* **********   Social-footer */

.strong {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

/* *** Subscribe */
.subscribe {
  margin-left: auto;
  &__box {
    display: flex;
    margin-top: 20px;
  }

  &__button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin-left: 12px;
    background-color: #2196f3;
    border-color: #2196f3;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: left;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 0px 28px;
  }
  &__input {
    background: #2f303a;
    width: 358px;
    height: 50px;
    left: 20px;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    padding: 15px 16px;
  }

  &__svg {
    margin-left: 10px;
    margin-top: 13px;
    fill: #ffffff;
    width: 24px;
    height: 24px;
  }
}
