// /* *************     HEADER */
.header {
  display: flex;
  align-items: center;

  background-color: var(--color-white);
  border-bottom: 1px solid #eee;
  height: 60px;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/***************      LOGO */
.logo {
  &__header {
    color: var(--color-blacklogo);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  &__span {
    color: var(--color-blu);
  }
}
.menu {
  @media screen and (max-width: 767px) {
    &__item {
      margin-bottom: 32px;
    }
    &__link {
      color: var(--color-black);
      text-decoration: none;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    &__item {
      margin-left: 87px;
      @media screen and (min-width: 1200px) {
        margin-left: 94px;
      }
      margin-bottom: 0;
      margin-top: 0;
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
    &__link {
      color: var(--color-black);
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;
      display: block;

      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--color-blu);
      }
    }
  }
}

// ***********MOB MENU
.mob-backdrop {
  width: 100%;
  display: none;
  z-index: 99;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 767px) {
    &.is-open {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 48px 40px;
      overflow-y: scroll;
      background-color: var(--color-white);
    }
  }
}
.mob-menu {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
      padding-right: 10px;
      margin-bottom: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
.button-cross {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 10px;
  }
}
.button-burger {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    border: none;
    background-color: transparent;
  }
}
// /*Contact*/
.contact {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (max-width: 767px) {
    &__mail {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: #757575;
      margin-bottom: 65px;
    }
    &__tel {
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
      color: #2196f3;
      margin-bottom: 32px;
    }
    &__svg {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;

    &__item {
      @media screen and (min-width: 1200px) {
        display: inline-block;
      }
    }
    &__link {
      font-style: normal;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: var(--color-grey);
      padding: 5px 0px;

      display: flex;
      align-items: center;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--color-blu);
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    @media screen and (min-width: 1200px) {
      :not(:last-child) {
        padding-right: 30px;
      }
    }
    &__svg {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}

// PAGE
@media screen and (min-width: 768px) {
  .page-active {
    color: var(--color-blu);
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #2196f3;
      border-radius: 2px;
    }
  }
  .page-relative {
    position: relative;
  }
}
